<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<h1>Registro</h1>
	<p>Por favor, introduzca sus datos:</p><br>
	<form action=datosusuario"" method=post"">
		Nombre de usuario: <br><input type="text" name="usuario" required><br>
		Email: <br><input type="email" name="email" required><br>
		Nombre: <br><input type="text" name="nombre" required><br>
		Apellidos: <br><input type="text" name="apellidos" required><br>
		<input type="submit" value="Enviar">
	</form>


</body>

</html>